@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-montserrat;
  background: #2b2b2b;
  height: 100%;
  margin: 0;
}

.swiper-pagination-bullet {
  background: #fcfcfc;
  opacity: 100;
}

.swiper-pagination-bullet-active {
  @apply bg-[#FCFCFC] opacity-100;
}
